@charset "UTF-8";
/*
	vertical-rhythmic
	
	Version : 2.0.0
	Author  : Aurélien Delogu (dev@dreamysource.fr)
	License : MIT
*/
/*
	number $vr-ratio
	number $vr-root-px
*/
/*
	Establish baseline

	Parameters
		number $font-size
		number $line-height
*/
/*
	Return a rhythm

	Parameters
		number $font-size
		number $factor

	Return
		number
*/
/*
	Convert REM value to PX

	Parameters
		number $value

	Return
		number
*/
/* line 16, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
html body {
  font-family: 'Open Sans', sans-serif; }

/* line 19, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.link-no-decor {
  text-decoration: none;
  color: inherit; }

/* line 23, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.btn {
  line-height: 1;
  background: white;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px;
  margin-top: 2rem;
  text-decoration: none;
  color: black; }
  /* line 33, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .btn:hover {
    background: #CCCCCC; }
  /* line 36, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .btn:disabled:hover {
    background: white; }

/* line 39, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.col-3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }

/* line 41, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.col-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }

/* line 43, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.col-5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%; }

/* line 45, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }

/* line 51, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
header {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: #3D84A8;
  color: white;
  padding: 0 1.5%;
  font-size: 0.9rem; }
  /* line 62, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  header .logo {
    float: left;
    height: 4rem; }
    /* line 65, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    header .logo img {
      width: 40.67797%;
      float: left;
      margin-right: 1.69492%; }
    /* line 67, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    header .logo .header-title {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      padding-top: 0.6rem;
      padding-left: 1rem; }
  /* line 71, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  header .nav, header .user-profile, header .score {
    float: right; }
  /* line 73, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  header .nav {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 4rem;
    margin-right: 2rem; }
    /* line 79, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    header .nav li {
      float: left;
      margin-right: 2rem; }
  /* line 82, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  header .user-profile {
    height: 3rem;
    border-radius: 4rem;
    border: 2px solid white;
    overflow: hidden;
    margin-right: 2rem;
    margin-top: 0.4rem; }
    /* line 89, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    header .user-profile img {
      height: 100%;
      width: auto; }
  /* line 92, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  header .score {
    padding-top: 0.6rem; }

/* line 95, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-module-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 7rem;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%; }
  /* line 103, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-module-nav li .big-btn {
    clear: both;
    display: block;
    position: relative;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #F5D096;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer; }
    /* line 114, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-module-nav li .big-btn:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
      background-color: #f1bb67; }
    /* line 117, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-module-nav li .big-btn label {
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      background: #3D84A8;
      color: #ffffff;
      border-radius: 10rem;
      font-size: 1rem;
      padding: 0.3rem 0.75rem; }
  /* line 126, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-module-nav li .task-teaser-list {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 132, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-module-nav li .task-teaser-list li {
      padding: 0;
      margin: 0;
      width: 32.20339%;
      float: left; }
      /* line 136, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
      .main-module-nav li .task-teaser-list li .wrapper {
        padding: 0 2rem 2rem 0; }
        /* line 139, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-module-nav li .task-teaser-list li .wrapper:hover img {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
        /* line 142, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-module-nav li .task-teaser-list li .wrapper img {
          width: 100%; }
        /* line 144, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-module-nav li .task-teaser-list li .wrapper .task-title {
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 0.5rem; }
        /* line 148, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-module-nav li .task-teaser-list li .wrapper .task-teaser {
          font-size: 0.8rem;
          margin-bottom: 0.2rem; }
        /* line 151, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-module-nav li .task-teaser-list li .wrapper .task-score {
          font-size: 0.7rem;
          opacity: 0.5; }
        /* line 154, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-module-nav li .task-teaser-list li .wrapper .task-state {
          overflow: hidden; }
          /* line 156, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-module-nav li .task-teaser-list li .wrapper .task-state span {
            font-size: 0.7rem;
            color: #ffffff;
            background-color: #3D84A8;
            padding: 0.2rem 0.3rem;
            margin: 0 0.2rem 0.2rem 0;
            display: block;
            float: left; }
            /* line 164, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
            .main-module-nav li .task-teaser-list li .wrapper .task-state span.ready {
              background-color: limegreen; }
            /* line 166, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
            .main-module-nav li .task-teaser-list li .wrapper .task-state span.finished {
              background-color: #ff7800; }
  /* line 168, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-module-nav li .task-list-link {
    display: block;
    float: right;
    background-color: #3D84A8;
    color: #ffffff;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 2rem; }

/* line 179, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content {
  margin-top: 6rem;
  padding: 0 1.5% 10rem 1.5%; }
  /* line 182, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-content .breadcrumbs {
    font-size: 0.8rem; }
    /* line 184, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-content .breadcrumbs a:hover {
      opacity: 0.5; }
    /* line 186, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-content .breadcrumbs .divider {
      padding: 0 0.5rem; }
  /* line 188, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-content .level {
    overflow: hidden;
    margin-bottom: 2rem; }
    /* line 191, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-content .level .level-title {
      font-size: 2rem;
      opacity: 0.5; }
    /* line 194, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-content .level .level-task-list {
      list-style: none;
      margin: 0;
      padding: 0; }
      /* line 199, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
      .main-content .level .level-task-list li {
        padding: 0;
        margin: 0;
        width: 32.20339%;
        float: left; }
        /* line 203, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
        .main-content .level .level-task-list li .wrapper {
          padding: 0 2rem 2rem 0; }
          /* line 206, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-content .level .level-task-list li .wrapper:hover img {
            box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
          /* line 208, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-content .level .level-task-list li .wrapper img {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
            width: 100%; }
          /* line 211, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-content .level .level-task-list li .wrapper .task-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 0.3rem; }
          /* line 215, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-content .level .level-task-list li .wrapper .task-teaser {
            font-size: 0.9rem;
            margin-bottom: 0.4rem; }
          /* line 218, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-content .level .level-task-list li .wrapper .task-score {
            font-size: 1rem;
            opacity: 0.5; }
          /* line 221, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
          .main-content .level .level-task-list li .wrapper .task-state {
            overflow: hidden; }
            /* line 223, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
            .main-content .level .level-task-list li .wrapper .task-state span {
              font-size: 0.8rem;
              color: #ffffff;
              background-color: #3D84A8;
              padding: 0.2rem 0.3rem;
              margin: 0 0.3rem 0.3rem 0;
              display: block;
              float: left; }
              /* line 231, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
              .main-content .level .level-task-list li .wrapper .task-state span.ready {
                background-color: limegreen; }
              /* line 233, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
              .main-content .level .level-task-list li .wrapper .task-state span.finished {
                background-color: #ff7800; }

/* line 240, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .title {
  padding: 3rem 0 3rem 0;
  font-size: 3rem;
  font-weight: bold; }

/* line 244, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .title, .main-content .content .section-content, .main-content .content .section-video, .main-content .content .section-chart, .main-content .content .section-quiz, .main-content .content .section-thesis {
  width: 700px;
  margin: 0 auto; }

/* line 248, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-content .sub-title, .main-content .content .section-thesis .sub-title {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

/* line 251, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-content p, .main-content .content .section-thesis p {
  margin: 2rem 0 1rem 0;
  font-size: 1.1rem;
  line-height: 1.6; }

/* line 255, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-video {
  margin-bottom: 2rem; }
  /* line 257, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-content .content .section-video img {
    width: 100%; }

/* line 259, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-chart {
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 2rem; }

/* line 264, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-quiz .sub-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600; }

/* line 268, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-quiz .quiz-title {
  font-size: 1.5rem; }

/* line 270, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-quiz .quiz-question {
  margin-top: 1rem;
  font-weight: 600; }

/* line 273, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-quiz table {
  margin-top: 1rem; }
  /* line 275, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .main-content .content .section-quiz table td {
    padding: 0.5rem 0; }
    /* line 277, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
    .main-content .content .section-quiz table td:last-child {
      padding-left: 2rem; }

/* line 279, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content .section-quiz .btn {
  margin-top: 1rem; }

/* line 282, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content figure {
  position: relative; }

/* line 284, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.main-content .content hr {
  width: 700px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #3D84A8; }

/* line 290, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.image-caption {
  position: absolute;
  left: -172px;
  width: 150px;
  top: 0;
  text-align: right;
  margin-top: 0;
  font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  outline: 0;
  z-index: 300; }

/* line 307, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.content-menu {
  position: absolute;
  top: 10rem;
  left: 1.5%;
  padding: 0;
  width: 15rem;
  font-size: 1rem;
  list-style: none; }
  /* line 317, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .content-menu li {
    margin-bottom: 0.5rem; }
  /* line 319, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
  .content-menu.fixed {
    position: fixed;
    top: 4rem; }

/* line 323, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.anchor {
  padding-top: 4rem;
  margin-top: -4rem; }

/* line 329, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/partials/_style.sass */
.highcharts-container svg > text:last-child {
  display: none; }

/* line 1, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 4, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
audio, canvas, video {
  display: inline-block; }

/* line 7, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 11, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
[hidden] {
  display: none; }

/* line 14, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 19, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
body {
  margin: 0; }

/* line 22, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
a:focus {
  outline: none; }

/* line 25, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
a:active, a:hover {
  outline: none; }

/* line 29, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
:focus {
  outline: none; }

/* line 32, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 36, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 39, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
b, strong {
  font-weight: bold; }

/* line 42, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
dfn {
  font-style: italic; }

/* line 45, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 50, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
mark {
  background: #ff0;
  color: #000; }

/* line 54, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 58, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
pre {
  white-space: pre-wrap; }

/* line 61, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 64, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
small {
  font-size: 80%; }

/* line 67, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 73, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
sup {
  top: -0.5em; }

/* line 76, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
sub {
  bottom: -0.25em; }

/* line 79, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
img {
  border: 0; }

/* line 82, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 85, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
figure {
  margin: 0; }

/* line 88, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 93, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 97, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 102, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
button, input {
  line-height: normal; }

/* line 105, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
button, select {
  text-transform: none; }

/* line 108, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 112, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 115, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 119, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 125, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 128, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 132, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 136, /Users/Trikster/static_sites/OnlineEduMokup/src/sass/vendor/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }
